In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

In [65]:
driver=webdriver.Chrome(r"C:\Users\Dell\Desktop\chromedriver.exe")

1.) Scrape the details of most viewed videos on YouTube from Wikipedia:
1. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
2. You need to find following details: Rank, Name, Artist, Upload date, Views

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
video_dict = {}
video_dict['Rank']=[]
video_dict['Name']=[]
video_dict['Artist']=[]
video_dict['Upload Date']=[]
video_dict['Views']=[]

In [5]:
from selenium.common.exceptions import NoSuchElementException

for i in range(1,31):
    # Extracting Rank from xpath
    try:
        rank = driver.find_element_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr["+str(i)+"]/td[1]")
        video_dict['Rank'].append(rank.text)
    except NoSuchElementException:
        video_dict['Rank'].append('-')

    # Extracting Name from xpath
    try:
        name = driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr['+str(i)+']/td[2]/a')
        video_dict['Name'].append(name.text)
    except NoSuchElementException:
        video_dict['Name'].append('-')

    # Extracting Artist from xpath
    try:
        artist = driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr['+str(i)+']/td[3]/a')
        video_dict['Artist'].append(artist.text)
    except NoSuchElementException:
        video_dict['Artist'].append('-')

    # Extracting Upload Date from xpath
    try:
        date = driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr['+str(i)+']/td[5]')
        video_dict['Upload Date'].append(date.text)
    except NoSuchElementException:
        video_dict['Upload Date'].append('-')

    # Extracting Views from xpath
    try:
        views = driver.find_element_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr['+str(i)+']/td[4]')
        video_dict['Views'].append(views.text)
    except NoSuchElementException:
        video_dict['Views'].append('-')

In [6]:
video_df = pd.DataFrame.from_dict(video_dict)
video_df

,Rank,Name,Artist,Upload Date,Views
0,1.,Baby Shark Dance,Pinkfong,"June 17, 2016",8.09
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.24
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.21
3,4.,See You Again,Wiz Khalifa,"April 6, 2015",4.99
4,5.,Johny Johny Yes Papa,-,"October 8, 2016",4.90
5,6.,Lady Gaga,-,"January 31, 2012",4.42
6,7.,Uptown Funk,Mark Ronson,"November 19, 2014",4.11
7,8.,Gangnam Style,Psy,"July 15, 2012",4.00
8,9.,RCA Records,-,"February 27, 2018",3.74
9,10.,Judson Laipply,Cocomelon – Nursery Rhymes,"May 2, 2018",3.74
10,11.,-,ChuChu TV,"March 6, 2014",3.60
11,12.,Sorry,Justin Bieber,"October 22, 2015",3.41
12,13.,Sugar,Maroon 5,"January 14, 2015",3.41
13,14.,Roar,Katy Perry,"September 5, 2013",3.29
14,15.,Counting Stars,OneRepublic,"May 31, 2013",3.21
15,16.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.20
16,17.,Dame Tu Cosita,El Chombo,"April 5, 2018",3.15
17,18.,Shake It Off,Taylor Swift,"August 18, 2014",3.03
18,19.,Faded,Alan Walker,"December 3, 2015",3.00
19,20.,Dark Horse,Katy Perry,"February 20, 2014",2.99
20,21.,Lean On,Major Lazer Official,"March 22, 2015",2.99
21,22.,Bailando,Enrique Iglesias,"April 11, 2014",2.98
22,23.,Girls Like You,Maroon 5,"May 31, 2018",2.97
23,24.,Let Her Go,Passenger,"July 25, 2012",2.93
24,25.,Mi Gente,J Balvin,"June 29, 2017",2.88
25,26.,Hello,Adele,"October 22, 2015",2.80
26,27.,Perfect,Ed Sheeran,"November 9, 2017",2.76
27,28.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",2.76
28,29.,Blank Space,Taylor Swift,"November 10, 2014",2.73
29,30.,Chantaje,Shakira,"November 18, 2016",2.63

In [7]:
#saving data to csv
video_df.to_csv(r'Top Youtube Videos.csv',index=False)

2.) Scrape the details team India’s international fixtures from bcci.tv.
1. Url = https://www.bcci.tv/.
2. You need to find following details: Match title (I.e. 1st ODI), Series, Place, Date, Time
3. Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [66]:
driver.get("https://www.bcci.tv/")

In [67]:
fixtures = driver.find_element_by_xpath('//ul[@class="navigation__list showMoreEnabled"]/li[1]/div[2]/div/ul/li[1]/a')
url = fixtures.get_attribute('href')
driver.get(url) 
time.sleep(10)

In [68]:
bcci_dict = {}
bcci_dict['Match Title']=[]
bcci_dict['Series']=[]
bcci_dict['Place']=[]
bcci_dict['Date']=[]
bcci_dict['Month']=[]
bcci_dict['Time']=[]

In [69]:
# Extracting Match Tile from xpath
fixture_name = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for i in fixture_name:
    bcci_dict['Match Title'].append(i.text)

# Extracting Series from xpath
fixture_series = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
for i in fixture_series:
    bcci_dict['Series'].append(i.text)
    
# Extracting Place from xpath
fixture_place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for i in fixture_place:
    bcci_dict['Place'].append(i.text)
    
# Extracting Date from xpath
fixture_date = driver.find_elements_by_xpath('//span[@class="fixture__date"]')
for i in fixture_date:
    bcci_dict['Date'].append(i.text)
    
# Extracting Month from xpath
fixture_month = driver.find_elements_by_xpath('//span[@class="fixture__month"]')
for i in fixture_month:
    bcci_dict['Month'].append(i.text)
    
# Extracting time from xpath
fixture_time = driver.find_elements_by_xpath('//span[@class="fixture__time"]')
for i in fixture_time:
    bcci_dict['Time'].append(i.text)

In [70]:
bcci_df = pd.DataFrame.from_dict(bcci_dict)
bcci_df

,Match Title,Series,Place,Date,Month,Time
0,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12,MARCH,19:00 IST
1,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14,MARCH,19:00 IST
2,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16,MARCH,19:00 IST
3,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18,MARCH,19:00 IST
4,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20,MARCH,19:00 IST
5,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23,MARCH,13:30 IST
6,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26,MARCH,13:30 IST
7,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28,MARCH,13:30 IST
8,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
9,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
10,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
11,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
12,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

In [71]:
#saving data to csv
bcci_df.to_csv(r'Team India International Fixtures.csv',index=False)

3.) Scrape the details of selenium exception from guru99.com.
1. Url = https://www.guru99.com/
2. You need to find following details: Name, Description
3. Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [14]:
driver.get("https://www.guru99.com/")
time.sleep(3)

In [15]:
page1 = driver.find_element_by_xpath('//div[@class="featured-box cloumnsize1"]/ul[1]/li[3]/a')
url = page1.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [16]:
page2 = driver.find_element_by_xpath('//div[@class="item-page"]/div[2]/table[5]/tbody/tr[34]/td/a')
url = page2.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [17]:
selenium_exception_dict = {}
selenium_exception_dict['Name']=[]
selenium_exception_dict['Description']=[]

In [18]:
# Extracting Name from xpath
exception_name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for i in exception_name:
    selenium_exception_dict['Name'].append(i.text)
    
# Extracting Description from xpath
exception_desc = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for i in exception_desc:
    selenium_exception_dict['Description'].append(i.text)

In [19]:
selenium_exception_df = pd.DataFrame.from_dict(selenium_exception_dict)
selenium_exception_df

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [20]:
#saving data to csv
selenium_exception_df.to_csv(r'Selenium Exceptions.csv',index=False)

4.) Scrape the details of State-wise GDP of India from statisticstime.com.
1. Url = http://statisticstimes.com/
2. You have to find following details: A) Rank, B) State, C) GSDP(18-19), D) GSDP(19-20), E) Share, F) GDP($ billion)
3. Note: - From statisticstimes home page you have to reach to economy page through code.

In [21]:
driver.get("http://statisticstimes.com/")
time.sleep(3)

In [22]:
economy = driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
url = economy.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [23]:
India = driver.find_element_by_xpath('//div[@style="margin: 0 auto;width:1150px;"]/div[2]/div[2]/ul/li[1]/a')
url = India.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [24]:
gdp_dict = {}
gdp_dict['Rank']=[]
gdp_dict['State']=[]
gdp_dict['GSDP(18-19)']=[]
gdp_dict['GSDP(19-20)']=[]
gdp_dict['Share']=[]
gdp_dict['GDP($ billion)']=[]

In [25]:
from selenium.common.exceptions import NoSuchElementException
for i in range(1,34):
    # Extracting Rank from xpath
    try:
        Rank = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[1]")
        gdp_dict['Rank'].append(Rank.text)
    except NoSuchElementException:
        gdp_dict['Rank'].append('-')

    # Extracting State from xpath
    try:
        State = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[2]")
        gdp_dict['State'].append(State.text)
    except NoSuchElementException:
        gdp_dict['State'].append('-')

    # Extracting Gdp from xpath
    try:
        gdp = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[6]")
        gdp_dict['GDP($ billion)'].append(gdp.text)
    except NoSuchElementException:
        gdp_dict['GDP($ billion)'].append('-')

    # Extracting Share from xpath
    try:
        share = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[5]")
        gdp_dict['Share'].append(share.text)
    except NoSuchElementException:
        gdp_dict['Share'].append('-')

    # Extracting GSDP(18-19) from xpath
    try:
        gsdp18 = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[4]")
        gdp_dict['GSDP(18-19)'].append(gsdp18.text)
    except NoSuchElementException:
        gdp_dict['GSDP(18-19)'].append('-')
        
    # Extracting GSDP(19-20) from xpath
    try:
        gsdp19 = driver.find_element_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr["+str(i)+"]/td[3]")
        gdp_dict['GSDP(19-20)'].append(gsdp19.text)
    except NoSuchElementException:
        gdp_dict['GSDP(19-20)'].append('-')

In [26]:
gdp_df = pd.DataFrame.from_dict(gdp_dict)
gdp_df

,Rank,State,GSDP(18-19),GSDP(19-20),Share,GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.35%,239.656
3,4,Gujarat,"1,502,899",-,7.92%,227.276
4,5,Karnataka,"1,493,127","1,631,977",7.87%,225.798
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"487,805","521,275",2.57%,73.768
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170","80,449",0.39%,11.065
23,24,Tripura,"49,845","55,984",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"34,433","38,253",0.18%,5.207
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,870","31,790",0.15%,4.215
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"22,287","26,503",0.12%,3.370
32,33,Andaman & Nicobar Islands,-,-,-,-

In [27]:
#saving data to csv
gdp_df.to_csv(r'GDP of Indian States.csv',index=False)

5.) Scrape the details of trending repositories on Github.com.
1. Url = https://github.com/
2. You have to find the following details: A) Repository title, B) Repository description, C) Contributors count, D) Language used
3. Note: - From the home page you have to click on the trending option from Explore menu through code.

In [28]:
driver.get("https://github.com/")
time.sleep(3)

In [29]:
trending = driver.find_element_by_xpath('//div[@class="dropdown-menu flex-auto rounded-1 color-bg-primary px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]/a')
url = trending.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [30]:
git_dict = {}
git_dict['Repository Title']=[]
git_dict['Repository description']=[]
git_dict['Contributors count']=[]
git_dict['Language used']=[]

In [31]:
from selenium.common.exceptions import NoSuchElementException
# Extracting Repository from xpath
repository = driver.find_elements_by_xpath('//article[@class="Box-row"]')
p = len(repository)
for i in range(1,p+1):
    try:
        repository_title = driver.find_element_by_xpath('//div[@class="Box"]/div[2]/article['+str(i)+']/h1[1]/a')
        git_dict['Repository Title'].append(repository_title.text)
    except NoSuchElementException:
        git_dict['Repository Title'].append('-')
        
    try:
        repository_desc = driver.find_element_by_xpath('//div[@class="Box"]/div[2]/article['+str(i)+']/p')
        git_dict['Repository description'].append(repository_desc.text)
    except NoSuchElementException:
        git_dict['Repository description'].append('-')
        
    try:
        lang = driver.find_element_by_xpath('//div[@class="Box"]/div[2]/article['+str(i)+']/div[2]/span[1]/span[2]')
        git_dict['Language used'].append(lang.text)
    except NoSuchElementException:
        git_dict['Language used'].append('-')
        
    try:
        contributors = driver.find_elements_by_xpath('//div[@class="Box"]/div[2]/article['+str(i)+']/div[2]/span[2]/a')
        n = 0
        for j in contributors:
            n += 1
        git_dict['Contributors count'].append(n)
    except NoSuchElementException:
        git_dict['Contributors count'].append('-')

In [32]:
git_df = pd.DataFrame.from_dict(git_dict)
git_df

,Repository Title,Repository description,Contributors count,Language used
0,dolthub / dolt,Dolt – It's Git for Data,5,Go
1,openai / CLIP,Contrastive Language-Image Pretraining,3,Jupyter Notebook
2,google / googletest,Googletest - Google Testing and Mocking Framework,5,C++
3,flutter / flutter,Flutter makes it easy and fast to build beauti...,5,Dart
4,git / git,Git Source Code Mirror - This is a publish-onl...,5,C
5,dwisiswant0 / apkleaks,"Scanning APK file for URIs, endpoints & secrets.",3,Python
6,coolsnowwolf / lede,Lean's OpenWrt source,5,C
7,Developer-Y / cs-video-courses,List of Computer Science courses with video le...,0,-
8,gskinnerTeam / flutter-folio,"A platform adaptive Flutter app for desktop, m...",4,Dart
9,connor-create / wsbtrades,-,1,Python
10,facebookresearch / d2go,D2Go is a toolkit for efficient deep learning,5,Python
11,microsoft / CSS-Exchange,Exchange Server support tools and scripts,5,PowerShell
12,sarven / unit-testing-tips,Unit testing tips by examples in PHP,0,-
13,kilimchoi / engineering-blogs,A curated list of engineering blogs,5,Ruby
14,MicrosoftLearning / AZ-104-MicrosoftAzureAdmin...,AZ-104 Microsoft Azure Administrator,5,PowerShell
15,florinpop17 / app-ideas,A Collection of application ideas which can be...,0,-
16,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,5,JavaScript
17,freefq / free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,0,-
18,nushell / nushell,A new type of shell,5,Rust
19,Shopify / upgrow,A sustainable architecture for Ruby on Rails.,5,Ruby
20,thunlp / GNNPapers,Must-read papers on graph neural networks (GNN),0,-
21,getzola / zola,A fast static site generator in a single binar...,5,Rust
22,microsoft / vscode,Visual Studio Code,5,TypeScript
23,muguruzawang / jd_maotai_seckill,优化版本的京东茅台抢购神器,5,Python
24,acantril / learn-cantrill-io-labs,Standard and Advanced Demos for learn.cantrill...,5,Shell

In [33]:
#saving data to csv
git_df.to_csv(r'Trending Repositories.csv',index=False)

6.) Scrape the details of top 100 songs on billiboard.com.
1. Url = https://www.billboard.com/
2. You have to find the following details: A) Song name, B) Artist name, C) Last week rank, D) Peak rank, E) Weeks on board
3. Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
driver.get("https://www.billboard.com/")
time.sleep(5)

In [35]:
charts = driver.find_element_by_xpath('//span[@id="menu-charts-mobile"]/span[1]/span[1]/span[1]/ul[1]/li[1]/a')
url = charts.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [36]:
billboard_dict = {}
billboard_dict['Song Name']=[]
billboard_dict['Artist Name']=[]
billboard_dict['Last Week Rank']=[]
billboard_dict['Peak Rank']=[]
billboard_dict['Weeks on Board']=[]

In [37]:
# Extracting Song Name from xpath
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    billboard_dict['Song Name'].append(i.text)
    
# Extracting Artist Name from xpath
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    billboard_dict['Artist Name'].append(i.text)
    
# Extracting Last Week Rank from xpath
last_week = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in last_week:
    billboard_dict['Last Week Rank'].append(i.text)
    
# Extracting Peak Rank from xpath
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    billboard_dict['Peak Rank'].append(i.text)
    
# Extracting Weaks on Board from xpath
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    billboard_dict['Weeks on Board'].append(i.text)

In [38]:
billboard_df = pd.DataFrame.from_dict(billboard_dict)
billboard_df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,2,17
4,Blinding Lights,The Weeknd,4,1,64
...,...,...,...,...,...
95,The Business,Tiesto,-,96,1
96,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,97,1
97,Monster,Shawn Mendes & Justin Bieber,91,8,14
98,Track Star,Mooski,-,99,1
99,Like I Want You,Giveon,95,95,2

In [39]:
#saving data to csv
billboard_df.to_csv(r'Top 100 billboard songs.csv',index=False)

7.) Scrape the details of Data science recruiters from naukri.com.
1. Url = https://www.naukri.com/
2. You have to find the following details: A) Name, B) Designation, C) Company, D) Skills they hire for, E) Location
3. Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [40]:
driver.get("https://www.naukri.com/")
time.sleep(3)

In [41]:
recruiters = driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
url = recruiters.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [42]:
search_recruiters = driver.find_element_by_xpath('//div[@class="sWrap lftBrd"]/div[2]/input')
search_recruiters.send_keys('Data Science')

In [43]:
search_btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_btn.click()

In [44]:
recruiters_dict = {}
recruiters_dict['Name']=[]
recruiters_dict['Designation']=[]
recruiters_dict['Company']=[]
recruiters_dict['Skills they hire for']=[]
recruiters_dict['Location']=[]

In [45]:
recruit = driver.find_elements_by_xpath('//div[@class="vcard"]')
p = len(recruit)
for i in range(1,p+1):
    try:
        recruiter_name = driver.find_element_by_xpath('//div[@id="tabP-1"]/div['+str(int((i+1)/2))+']/div['+str((i+1)%2 + 1)+']/div[1]/div[1]/p[1]/a[1]/span[1]')
        recruiters_dict['Name'].append(recruiter_name.text)
    except NoSuchElementException:
        recruiters_dict['Name'].append('-')
        
    try:
        recruiter_designation = driver.find_element_by_xpath('//div[@id="tabP-1"]/div['+str(int((i+1)/2))+']/div['+str((i+1)%2 + 1)+']/div[1]/div[1]/p[1]/span[1]')
        recruiters_dict['Designation'].append(recruiter_designation.text)
    except NoSuchElementException:
        recruiters_dict['Designation'].append('-')
        
    try:
        recruiter_company = driver.find_element_by_xpath('//div[@id="tabP-1"]/div['+str(int((i+1)/2))+']/div['+str((i+1)%2 + 1)+']/div[1]/div[1]/p[1]/a[2]')
        recruiters_dict['Company'].append(recruiter_company.text)
    except NoSuchElementException:
        recruiters_dict['Company'].append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@id="tabP-1"]/div['+str(int((i+1)/2))+']/div['+str((i+1)%2 + 1)+']/div[1]/div[1]/p[1]/span[2]/small')
        recruiters_dict['Location'].append(loc.text)
    except NoSuchElementException:
        recruiters_dict['Location'].append('-')
        
    try:
        skills = driver.find_element_by_xpath('//div[@id="tabP-1"]/div['+str(int((i+1)/2))+']/div['+str((i+1)%2 + 1)+']/div[1]/div[2]')
        recruiters_dict['Skills they hire for'].append(skills.text)
    except NoSuchElementException:
        recruiters_dict['Skills they hire for'].append('-')

In [46]:
recruiters_df = pd.DataFrame.from_dict(recruiters_dict)
recruiters_df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
31,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
46,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
47,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida
48,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Mumbai
49,Sagar Lama,Company HR Manager,AdView,"Full Stack Developers, Product Manager, Data S...",Bengaluru / Bangalore

In [47]:
#saving data to csv
recruiters_df.to_csv(r'Recruiters for Data Science.csv',index=False)

8.) Scrape the details of Highest selling novels.
1. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
2. You have to find the following details: A) Book name, B) Author name, C) Volumes sold, D) Publisher, E) Genre

In [48]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(3)

In [49]:
books_dict = {}
books_dict['Book Name']=[]
books_dict['Author Name']=[]
books_dict['Volumes Sold']=[]
books_dict['Publisher']=[]
books_dict['Genre']=[]

In [50]:
# Extracting Book Name from xpath
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    books_dict['Book Name'].append(i.text)
    
# Extracting Author Name from xpath
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    books_dict['Author Name'].append(i.text)
    
# Extracting Volumes Sold from xpath
sold = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in sold:
    books_dict['Volumes Sold'].append(i.text)
    
# Extracting Publisher from xpath
publisher = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    books_dict['Publisher'].append(i.text)
    
# Extracting Genre from xpath
genre = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    books_dict['Genre'].append(i.text)

In [51]:
books_df = pd.DataFrame.from_dict(books_dict)
books_df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [52]:
#saving data to csv
books_df.to_csv(r'Highest Selling Novels.csv',index=False)

9.) Scrape the details most watched tv series of all time from imdb.com.
1. Url = https://www.imdb.com/list/ls095964455/
2. You have to find the following details: A) Name, B) Year span, C) Genre, D) Run time, E) Ratings, F) Votes

In [53]:
driver.get("https://www.imdb.com/list/ls095964455/")
time.sleep(3)

In [54]:
tvSeries_dict = {}
tvSeries_dict['Name']=[]
tvSeries_dict['Year span']=[]
tvSeries_dict['Genre']=[]
tvSeries_dict['Run Time']=[]
tvSeries_dict['Ratings']=[]
tvSeries_dict['Votes']=[]

In [55]:
# Extracting Name from xpath
tvseries = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a[1]')
for i in tvseries:
    tvSeries_dict['Name'].append(i.text)
    
# Extracting Year span from xpath
yearspan = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in yearspan:
    tvSeries_dict['Year span'].append(i.text)
    
# Extracting Genre from xpath
tvseries_genre = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')
for i in tvseries_genre:
    tvSeries_dict['Genre'].append(i.text)
    
# Extracting Run Time from xpath
runtime = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')
for i in runtime:
    tvSeries_dict['Run Time'].append(i.text)
    
# Extracting Ratings from xpath
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
for i in ratings:
    tvSeries_dict['Ratings'].append(i.text)
    
# Extracting Votes from xpath
votes = driver.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
for i in votes:
    tvSeries_dict['Votes'].append(i.text)

In [56]:
tvSeries_df = pd.DataFrame.from_dict(tvSeries_dict)
tvSeries_df

,Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,573"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,128"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"856,933"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,243"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,796"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,769"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,101"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,290"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,207"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,941"

In [57]:
#saving data to csv
tvSeries_df.to_csv(r'Most Watched TV Series.csv',index=False)

10.) Details of Datasets from UCI machine learning repositories.
1. Url = https://archive.ics.uci.edu/
2. You have to find the following details: A) Dataset name, B) Data type, C) Task, D) Attribute type, E) No of instances, F) No of attribute, G) Year
3. Note: - from the home page you have to go to the ShowAllDataset page through code.

In [58]:
driver.get("https://archive.ics.uci.edu/ml/index.php")
time.sleep(2)

In [59]:
datasets = driver.find_element_by_xpath('//table[(@width="100%") and (@border="0") and (@cellpadding="2")]/tbody/tr/td/span/b[1]/a')
url = datasets.get_attribute('href')
driver.get(url) 
time.sleep(3)

In [60]:
uci_dict = {}
uci_dict['Dataset Name']=[]
uci_dict['Data Type']=[]
uci_dict['Task']=[]
uci_dict['Attribute Type']=[]
uci_dict['No. of Instances']=[]
uci_dict['No. of Attributes']=[]
uci_dict['Year']=[]

In [61]:
result = driver.find_elements_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr')
p = len(result)
for i in range(1,p):
    try:
        dataset_name = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[1]/table/tbody/tr/td[2]/p/b/a')
        uci_dict['Dataset Name'].append(dataset_name.text)
    except NoSuchElementException:
        uci_dict['Dataset Name'].append('-')
        
    try:
        dataset_type = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[2]/p')
        uci_dict['Data Type'].append(dataset_type.text)
    except NoSuchElementException:
        uci_dict['Data Type'].append('-')
        
    try:
        dataset_task = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[3]/p')
        uci_dict['Task'].append(dataset_task.text)
    except NoSuchElementException:
        uci_dict['Task'].append('-')
        
    try:
        dataset_att_type = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[4]/p')
        uci_dict['Attribute Type'].append(dataset_att_type.text)
    except NoSuchElementException:
        uci_dict['Attribute Type'].append('-')
        
    try:
        dataset_instance = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[5]/p')
        uci_dict['No. of Instances'].append(dataset_instance.text)
    except NoSuchElementException:
        uci_dict['No. of Instances'].append('-')
        
    try:
        dataset_att = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[6]/p')
        uci_dict['No. of Attributes'].append(dataset_att.text)
    except NoSuchElementException:
        uci_dict['No. of Attributes'].append('-')
        
    try:
        dataset_year = driver.find_element_by_xpath('//table[(@border="1") and (@cellpadding="5")]/tbody/tr['+str(i+1)+']/td[7]/p')
        uci_dict['Year'].append(dataset_year.text)
    except NoSuchElementException:
        uci_dict['Year'].append('-')

In [62]:
uci_df = pd.DataFrame.from_dict(uci_dict)
uci_df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
580,Wisesight Sentiment Corpus,"Multivariate, Text",Classification,,26737,4,2020
581,AI4I 2020 Predictive Maintenance Dataset,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",Real,10000,14,2020
582,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,17,2020
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020

In [63]:
#saving data to csv
uci_df.to_csv(r'Datasets from UCI.csv',index=False)

In [72]:
driver.close()